/* abilities */

.abilities {
  background-color: rgb(0, 9, 19);
  min-height: 716px;
  display: flex;
  justify-content: center;
}

.abilities__inner {
  display: flex;
  align-items: center;

  gap: 6vw;
}

.abilities__background {
  display: flex;
  justify-content: center;
}

.preview__list {
  display: flex;
  column-gap: 25px;
}

.preview__title {
  color: #ffff;
  font-size: 65px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 700;
  margin-left: 10px;
}

.preview__button {
  position: relative;
  margin-top: 30px;
}

.preview__button:hover .circle {
  transition: 300ms;
  background-color: rgb(208, 168, 92);
}

.active-skils {
  transition: 300ms;
  border: 1.5px solid rgb(208, 168, 92);
  transform: translateY(-15px);
}

.preview__button button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview__img {
  transition: 500ms;
  max-width: 70px;
  max-height: 75px;
  padding: 5px;
}

.active .circle {
  background-color: rgb(208, 168, 92);
  transform: translateY(15px);
}

.preview__img button {
  width: 60px;
  height: 60px;
}

.circle {
  position: absolute;
  transition: 800ms;
  width: 9px;
  height: 9px;
  background-color: rgb(57, 64, 72);
  border-radius: 50%;
  bottom: -25px;
  left: 44%;
}

.abilities__desc {
  color: #ffff;
  max-width: 450px;
  margin-top: 40px;
  padding: 15px;
}

.abilities__desc span {
  color: rgb(126, 126, 126);
  font-size: 9px;
  letter-spacing: 0.15em;
  font-weight: 600;
  line-height: 1;
}

.abilities__desc h2 {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

.abilities__desc div {
  font-size: 14px;
  margin-top: 10px;
}

/* video */

.abilities__inner-video {
  width: 700px;
  height: 400px;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -12px;
}

.abilities__inner-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .abilities__inner-video {
    padding: 20px;
    outline-offset: -28px;
  }

  .abilities__inner {
    position: relative;
    flex-direction: column-reverse;
  }

  .preview__title {
    position: absolute;
    font-size: 23px;
    top: -20px;
    left: 48%;
    transform: translate(-50%);
  }

  .preview__list {
    padding: 10px;
    column-gap: 5%;
  }

  .abilities {
    padding: 50px 0;
  }
}

@media (max-width: 705px) {
  .abilities__inner-video {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 537px) {
  .abilities__inner-video {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 375px) {
  .abilities__inner-video {
    width: 370px;
    height: 250px;
  }
}

@media (max-width: 425px) {
  .preview__title {
    top: 0;
  }
}
