.nav__item a {
  font-weight: 700;
  color: #ffff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 8px;
}

.nav__item:hover a {
  background: rgba(128, 128, 128, 0.3);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px ;
}

.nav__item {
  padding: 15px;
}
.nav {
  background-color: #1c2128;
}
.nav ul {
  display: flex;
  height: 80px;
  align-items: center;
}

.nav__logo {
  max-height: 70px;
}

.button__theme  {
  max-width: 40px;
  max-height: 40px;
}