:root {
  --neutural-900: hsl(207, 19%, 9%);
  --neutural-100: hsl(0, 0%, 100%);
  --neutural-400: rgb(11, 196, 226);
}
.championlist {
  min-height: 100vh;
  transition: .5s;
}
.banner {
  padding-top: 100px;
}

.banner__title span {
  font-weight: 400;
  font-style: italic;
}

.banner__title {
  text-align: center;
}

.banner__champion {
  text-transform: uppercase;
  font-style: italic;
  font-size: 100px;
  line-height: 1;
}



.banner__description {
  letter-spacing: 0.08em;
  max-width: 460px;
  margin: 12px auto 0px;
  text-align: center;
  padding: 0 10px;
}

.filter {
  column-gap: 10px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter__button {
  padding: 5px 20px;
  cursor: pointer;
  
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
}

.role-active {
  transition: .5s;
  color: aliceblue;
  background-color: black;
}

@media (max-width: 525px) {
  .banner__champion {
    font-size: 50px;
  }
  .filter__button {
    padding: 13px 101px;
  }
}

.dark {
  transition: 0.5s;
}
.dark .nav {
  background-color: black;
}

.dark .championlist {
  color: white;
  background-color: #1c2128;
}

.dark .card__content {
  background-color: rgb(87, 91, 95);
}

.dark .role-active {
  color: #1c2128;
  background-color: rgb(117, 125, 133);
}
