.skins__image {
  position: relative;
}

.skins {
  max-width: 1360px;
  margin: 80px auto;
}

.skins__img {
  width: 100%;
  object-fit: cover;
}

.skins__carousel {
  position: absolute;
  height: 100%;
  width: 31%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  overflow: hidden;
}

.corousel__title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding: 40px 20px;
  font-style: italic;
  letter-spacing: 0.05em;
  color: white;
}

.corousel__title::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 20px;
  transform: translate(50%);
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.carousel {
  overflow: hidden;
  margin-left: 40px;
}

.carousel__inner {
  display: flex;
  flex-direction: column;
  transition: 400ms;
  padding-top: 150px;
}

.carousel__item {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.carousel__item span {
  margin: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  transition: 300ms;
}

.carousel__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  opacity: 0.7;
  transition: 300ms;
}

.carousel-active {
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -7px;
}

.carousel-active img {
  transition: 300ms;
  transform: scale(1.7);
  opacity: 1;
}

.carousel-active span {
  transition: 300ms;
  margin-left: 40px;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1024px) {
  .skins__carousel {
    width: 100%;
    position: inherit;
  }

  .skins {
    background-color: black;
    margin: 0;
  }

  .skins__img {
    padding: 30px;
  }

  .corousel__title {
    font-size: 25px;
    padding: 0;
  }
  .carousel__inner {
    flex-direction: inherit;
    justify-content: center;
    padding-left: 250px;
  }

  .carousel__item {
    min-width: 140px;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .carousel__item span {
    margin: 0;
  }

  .carousel-active img {
    transform: translateY(-15px);
  }

  .corousel__title::after {
    bottom: -13px;
  }
}

@media (max-width: 1440px) {
  .carousel__inner {
    padding-top: 30px;
  }
}
